.container-login{
    margin: 0 auto;
    width: 90%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;        
}

.form{
    display: flex;    
    flex-direction: column;
}

.btn-login{
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 12px;
    cursor: pointer;
}

.btn-login:hover{
    color: white;
    background-color: black;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

.card-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 10px;
}

.inputs-container{
    padding: 15px;
}

::placeholder {
    text-align: center;
    color: rgb(216, 216, 216);
    font-size: 1rem;
}

.inputs-container input[type="email"]{
    padding: 6px;    
} 

.inputs-container input[type="password"]{
    padding: 6px;    
} 

input[type="email"]{
    color: rgb(180, 180, 180);
}



.inputs-container label{
    padding-right: 10px;
    font-size: 20px;
}

.inputs-container input{
    border-radius: 5px;
    border: none;
    font-size: 20px;
    box-shadow: 5px 5px 5px rgb(189, 187, 187);
}

.btn-login{
    background: transparent;
    border: 2px solid black;
    padding: 8px;
    font-size: 18px;
    margin-top: 10px;    
}

